<ion-view view-title="Ejercicios">
    <ion-content>
        <!--Lista de rutinas y ejercicios-->
        <!--
        <ion-refresher pulling-text="Actualizar..." on-refresh="refresh()">
        </ion-refresher>-->
        <ion-list>
            <ion-item ng-repeat="item in ejercicios">
                {{item}}
                <ion-option-button class="button-info" ng-click="edit(item)">
                    Editar
                </ion-option-button>
                <ion-option-button class="button-info" ng-click="edit(item)">
                    Eliminar
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
    
    <ion-footer-bar keyboard-attach class="item-input-inset bar-detail" ng-if="esAtleta=='false'">
        <label class="item-input">
            <input type="text" placeholder="Agregar nuevo" style="padding-right: 140px;" ng-model="nuevoEjercicio"/>
            <a class="button button-icon icon icon-right ion-ios-redo" ng-disabled="!nuevoEjercicio" on-tap="agregar()"></a>
            </label>
    </ion-footer-bar>
</ion-view>