<ion-view view-title="Nuevo Entrenamiento">
    <ion-nav-bar>
        <ion-nav-back-button>
            <i></i> Atras
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <ion-item>
            <label class="item item-input">
            <span class="input-label">Fecha</span>
            <input type="date">
        </label>
            <label class="item item-input item-stacked-label">
                <textarea id='textAreaEntrenamiento' rows="5" ng-keypress="updateEditor()" placeholder="Descripción" ng-model="descripcion"></textarea>
            </label>
        </ion-item>
        <button class="button button-block button-balanced" on-tap="continuar()">
            Continuar
        </button>
    </ion-content>
</ion-view>