<ion-view view-title="Nuevo Entrenamiento" ng-controller="NuevoEntrenamientoCtrl as controlador">
    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-ios-paperplane" on-tap="enviar()" ng-disabled="!controlador.nombreEntrenamiento || !controlador.ejercicios[0]"></a>
    </ion-nav-buttons>
    <ion-content>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Nombre</span>
            <input type="text" ng-keyup="count = count + 1" placeholder="Ingresa el nombre del entrenamiento" ng-model="controlador.nombreEntrenamiento">
        </label>
        <label class="text assertive" ng-if="controlador.nombreEntrenamiento=='' && count>0">* Olvidaste ingresar un nombre para el entrenamiento</label>
        <div class="item item-divider text-center">
            Ejercicios
        </div>        
        <ion-refresher pulling-text="Actualizar..." on-refresh="refresh()">
        </ion-refresher>
        <br>
        <p class="text text-center" ng-if="!controlador.ejercicios[0]">Agrega un nuevo ejercicio</p>
        <ion-list class="item-border-off">
            <ion-item ng-repeat="item in controlador.ejercicios">
                {{item}}
                <ion-option-button class="button-info" ng-click="edit(item)">
                    Editar
                </ion-option-button>
                <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)">
                    Eliminar
                </ion-delete-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <!--
    <ion-footer-bar ng-show="listaEjercicios">        
                <label class="item item-input ">
                    <input type="text" placeholder="Ingresar nuevo" ng-model="nuevoEjercicio">
                </label>
                <button class="button button-icon icon icon-right ion-ios-redo"></button>
    </ion-footer-bar>-->

    <ion-footer-bar keyboard-attach class="item-input-inset bar-detail">
        <label class="item-input">
        <input type="text" ng-keyup="count = count + 1" style="padding-right: 140px;" placeholder="Ingresar nuevo" ng-model="controlador.nuevoEjercicio"/>
        </label>
        <a class="button button-icon icon icon-right ion-ios-redo" ng-disabled="!controlador.nuevoEjercicio" on-tap="agregar()"></a>
    </ion-footer-bar>
</ion-view>