<ion-view view-title="Calendario">
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-ios-plus" on-tap="nuevoEntrenamiento()"></a>
  </ion-nav-buttons>
  <!--
  <ion-footer-bar class="bar ">
    <button class="button button-full button-energized" on-tap="registrarse()">Registrarte</button>
  </ion-footer-bar>-->
  <ion-content padding="true">
    <div class="button-bar">
      <a class="button button-icon" ng-class="{energized: dia=='D'}" on-tap="domingo()"><b>D</b></a>
      <a class="button button-icon" ng-class="{balanced: dia=='L'}" on-tap="lunes()"><b>L</b></a>
      <a class="button button-icon" ng-class="{assertive: dia=='M'}" on-tap="martes()"><b>M</b></a>
      <a class="button button-icon" ng-class="{assertive: dia=='X'}" on-tap="miercoles()"><b>X</b></a>
      <a class="button button-icon" ng-class="{assertive: dia=='J'}" on-tap="jueves()"><b>J</b></a>
      <a class="button button-icon" ng-class="{assertive: dia=='V'}" on-tap="viernes()"><b>V</b></a>
      <a class="button button-icon" ng-class="{assertive: dia=='S'}" on-tap="sabado()"><b>S</b></a>
    </div>
    <div>
      <p class="text text-center" ng-if="!entrenamientos[0]">No hay entrenamientos para mostrar</p>
      <ion-list>
        <ion-item collection-repeat="entrenamiento in entrenamientos | filter:search" class="item-icon-right" type="item-text-wrap"
          href="#/tab/rutinas">
          {{entrenamiento.name}}
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>