<ion-view view-title="Rutinas" ng-controller="RutinasCtrl as controlador">   
    <ion-content>  
        <ion-refresher pulling-text="Actualizar..." on-refresh="refresh()">
        </ion-refresher>   
        <div padding="true" ng-if="!controlador.rutinas[0]">
            <br>
            <p class="text text-center" >No hay rutinas para mostrar</p>  
        </div>         
        <ion-list class="item-border-off">
            <ion-item collection-repeat="rutina in controlador.rutinas | filter:search" class="item-icon-right" type="item-text-wrap" href="#/tab/rutina-detalle/{{rutina._id}}">
                    {{rutina.nombre}}
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>                   
        </ion-list>
    </ion-content>
</ion-view>