<ion-view view-title="Rutinas" ng-controller="RutinasCtrl">
	<ion-nav-buttons side="right">
        <a class="button button-icon icon ion-ios-heart" on-tap="cambiarPerfil()"></a>
    </ion-nav-buttons>      
    <!--
	<ion-nav-buttons side="right">
        <a class="button button-icon icon ion-ios-plus-empty" href="#/tab/nuevaRutina"></a>
    </ion-nav-buttons>-->   
    <ion-content>  
        <ion-refresher pulling-text="Actualizar..." on-refresh="refresh()">
        </ion-refresher>   
        <!--
        <div class="list list-inset input-search">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Buscar rutinas" ng-model="search">
            </label>
        </div>-->
        <p class="text text-center" ng-if="!rutinas[0]">No hay rutinas para mostrar</p>                
        <ion-list class="item-border-off">
            <ion-item collection-repeat="rutina in rutinas | filter:search" class="item-icon-right" type="item-text-wrap" href="#/tab/rutina-detalle/{{rutina.id}}">
                <h3>
                    {{rutina.name}}
                </h3>
                <p>
                    {{rutina.description}}
                </p>                
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>                   
        </ion-list>
    </ion-content>
</ion-view>